<% provide :title, @itinerary.title + " - 旅のプラン情報" %>
<%= render 'layouts/sidenav' %>
<main class="main-content position-relative bg-pearl-white">
  <h5 class="page-heading">旅のプラン情報</h5>
  <div class="container-fluid py-3 py-sm-4 px-0 min-vh-100">
    <%= render "info" %>
    <%= render "members" %>
  </div>
</main>
