
<%= turbo_frame_tag "member" do %>
  <div class="d-flex flex-column align-items-center mt-5 mb-4">
    <%= image_tag @user.avatar.url, class: "rounded-circle w-30 w-sm-20 mb-2", alt: "#{@user.name}のプロフィール画像" %>
    <p class="text-dark fw-bold"><%= @user.name %></p>
    <div class="mt-3">
      <% if @itinerary.members.include?(@user) %>
        <p class="text-dark text-sm">すでにメンバーに追加されています</p>
      <% else %>
        <%= link_to "メンバーに招待", [:invite_user_itinerary, id: @itinerary, user_id: @user.id], class: "btn bg-gradient-primary", data: { action: "click->modal#close", turbo_frame: "_top" } %>
      <% end %>
    </div>
  </div>
<% end %>
