<%= turbo_frame_tag "bestrip_id" do %>
  <div class="<%= "error-message" if resource.errors.messages.key?(:bestrip_id) %>" >
    <%= resource.errors.full_messages_for(:bestrip_id).first if resource.errors.any? %>
  </div>
  <%= button_tag "IDが使用可能か確認", type: :submit, formaction: :validate_bestrip_id, formmethod: :patch, class: "btn bg-gradient-light btn-sm my-1 fw-bold" %>
  <div class="text-sm text-dark">
    <% if !resource.errors.messages.key?(:bestrip_id) && !resource.bestrip_id.blank? then %>
      <i class="bi-check2-circle text-primary "></i> このIDはご使用いただけます
    <% end %>
  </div>
<% end %>
