<div id="comments" class="max-height-vh-60 overflow-auto mb-3 px-3 pt-2 pb-3 bg-white">
  <% if @comments.count.zero? %>
    <p id="zero_comment_message" class="text-sm py-2 text-center">コメントはまだありません</p>
  <% else %>
    <%= turbo_frame_tag "posts-page-#{@comments.current_page}" do %>
      <%= render @comments %>
      <%= turbo_frame_tag "posts-page-#{@comments.next_page}", src: path_to_next_page(@comments), loading: :lazy %>
    <% end %>
  <% end %>
</div>
