<div id="like">
  <%= form_with url: likes_path do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <% if @post.likes.include?(current_user) %>
      <%
=begin%>
 <%= link_to [:users_place, id: @place.id], class: "btn btn-outline-favorite d-flex justify-content-center align-items-center mt-3 mb-0 w-100", data: { turbo_method: :delete } do %>
        <i class="material-icons me-1">favorite</i>
        <span>お気に入りに追加済み</span>
      <% end %>
<%
=end%>
    <% else %>
      <%= button_tag type: "submit", class: "btn btn-outline-favorite d-flex justify-content-center align-items-center mt-3 mb-0 w-100" do %>
        <i class="material-icons me-1">thumb_up</i>
        <span>いいね！</span>
      <% end %>
    <% end %>
  <% end %>
</div>
