<div id="like">
  <%= form_with url: likes_path do |f| %>
    <% if @post.liked_by? current_user %>
      <%= link_to [:like, id: @post.id], class: "btn btn-outline-favorite d-flex justify-content-center align-items-center mt-3 mb-0 w-100", data: { turbo_method: :delete } do %>
        <i class="material-icons me-1">thumb_up</i>
        <span>いいね済み</span>
      <% end %>
    <% else %>
      <%= button_tag type: "submit", class: "btn btn-outline-favorite d-flex justify-content-center align-items-center mt-3 mb-0 w-100" do %>
        <i class="material-icons me-1">thumb_up</i>
        <span>いいね！</span>
      <% end %>
    <% end %>
  <% end %>
</div>
