/*=== COMMON ===*/
@include media-breakpoint-up(lg) {
  main {
    border-left: 1px solid $gray-300;
  }
}
p {
  margin-bottom: 0;
}
li {
  list-style: none;
}
.fs-px-13 {
  font-size: 13px !important;
}
.fs-px-15 {
  font-size: 15px !important;
}
.hover-opacity:hover {
  opacity: 0.7;
}
.link-area:hover {
  color: $dark;
  background-color: $gray-200;
}
.square-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*=== HEADER ===*/
.header-avatar {
  margin: -6px 4px -6px 0;
  padding: 1px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.header-dropdown {
  margin-top: 38px !important;
}

/*=== FLASH ===*/
.flash {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%)
             translateY(-50%);
  z-index: 100;
  color: #183B72;
  background-color: #CFE1FE;
  border: 1px solid #B7D4FF;

  @include media-breakpoint-down(sm) {
    top: 140px;
    width: 85%;
  }
  span {
    color: #183B72;
  }
}

/*=== FORM ===*/
input:-webkit-autofill {
  transition: background-color 10000s ease-in-out 0s !important;
}
label {
  color: $dark;
}
.input-group-outline.is-focused {
  .form-control {
    border-color: $secondary;
  }
}
.form-control.active {
  border-color: $secondary !important;
}
input::placeholder, textarea::placeholder {
  color: $secondary !important;
}
.required {
  margin-left: 3px;
  padding: 0 3px;
  vertical-align: 1px;
  border-radius: 2px;
  border: 1px solid $danger;
  color: $danger;
  font-size: 11px;
}
.error-message {
  color: $danger;
  font-size: 12px;
  margin-top: 1px;
  padding-top: 0;
  padding-left: 0;
}
.select-box {
  display: inline-flex;
  align-items: center;
  position: relative;

  &:after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
  }
}
.search-form-icon-left {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #e3e6e8;
  border-radius: 6px;

  &::before {
    width: 45px;
    height: 15px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23ababab%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
  }
  &:has(input:focus) {
    border-color: $secondary;
  }
  input {
    width: 100%;
    height: 39px;
    padding: 10px 12px 10px 0px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 14px !important;
  }
}
.search-form-icon-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid #d2d6da;
  border-radius: 6px;
  margin: -1px 0 !important;

  &:has(input:focus) {
    border-color: $secondary !important;
  }
  input {
    width: 100%;
    height: 36px;
    padding: 10px 12px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    border: none;
    background-color: $gray-200;

    &::after {
      width: 18px;
      height: 18px;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      content: '';
    }
  }
  .dropdown-menu {
    margin-top: 38px !important;
    cursor: default;
    z-index: 10000;
  }
}

/*=== MODAL ===*/
.modal-image {
  object-fit: cover;
  aspect-ratio: 5/3;
}
.modal-small-place-image {
  padding: 4px;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
#turbo-confirm-modal {
  .modal-dialog {
    padding-top: 10%;
  }
  .modal-content {
    width: 80%;
    margin: 0 auto;
  }
}

/*=== SCHEDULE ===*/
#place_info_card {
  display: none;
}
.schedule-item {
  height:60px;

  @include media-breakpoint-down(sm) {
    height:60px;
  }
}
.schedule-icon {
  padding: 6px;
  color: white;
  font-size: 16px;
  opacity: 0.8;
  border-radius: 50%;

  @include media-breakpoint-down(sm) {
    padding: 5px;
    font-size: 14px;
  }
}
label:has(.schedule-icon-btn:checked) {
  color: $primary;
}

/*=== PLACE ===*/
#map_frame {
  width: 100%;
  height: 199px;
}
#map {
  width: 100%;
  height: 70vh;

  @include media-breakpoint-down(sm) {
    height: 80vh;
  }
}
.pac-container {
  z-index: 10001;
}
.rating-icon {
  color: #E7711B;
}
.gm-style-iw {
  max-width: 320px !important;
}
.infowindow-content {
  width: 280px;
  height: auto;
}

/*=== POST ===*/
.label-for-photo {
  display: none;

  &:has(.active-field) {
    display: block;
    width: fit-content !important;
  }
}
.post-form-checkbox {
  vertical-align: -1px;
  transform: scale(1.2);
  accent-color: $dark;
}
.grid-5-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

/*=== PAGINATION ===*/
.pagination {
  margin: 0px auto;
  padding: 8px 12px;
  width: fit-content;

  .page-link {
    border: none;
    background-color: transparent;
    font-size: 15px;
  }
  .active a {
    color: white;
    background-color: $primary !important;
  }
}
.current-page, .current-page i, .current-page span {
  color: $primary !important;
  font-weight: 600 !important;
}

/*=== DETAILS/SUMMARY ===*/
summary.list-icon-none {
  list-style: none;
}
details[open] .do-open {
	display: none ;
}
.do-open.chevron-down {
  position: relative;
  &:after {
    font-family: FontAwesome;
    content: '\f078';
    margin-left: 15px;
    color: $secondary;
    font-size: 12px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
}
details:not([open]) .do-close {
	display: none ;
}
.do-close.chevron-up {
  position: relative;
  &:after {
    font-family: FontAwesome;
    content: '\f077';
    margin-left: 15px;
    color: $secondary;
    font-size: 12px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
}

/*=== OTHER ===*/
.page-heading {
  margin: 0px;
  padding: 20px 0px 20px;
  background-color: white;
  text-align: center;
}

.avatar-thumbnail {
  width: 34px;
  height: 34px;
}

.tooltip-inner {
  font-size: 12px;
  font-weight: bold;
}
.tooltip {
  z-index: 100000;
}

.dropdown-menu {
  &:before {
    display: none !important;
  }
}

.horizontal-gradient-dark {
  margin: 0 auto;
  background: linear-gradient(to right, #fff, $dark, #fff);
  height: 1.3px;
  width: 80%;
}

.invitation-notification {
  background-color: #fce3e3;
  border: 0.5px solid $favorite;
  span {
    font-size: 22px;
  }
}

.invitation-icon {
  width: 42px;
  height: 42px;
}

.line-login-btn {
  padding: 7px 10px !important;

  img {
    width: 26px;
    height: 26px;
  }
}
