<% provide :title, "スケジュール - " + @itinerary.title %>
<%= render 'layouts/sidenav' %>
<main class="main-content position-relative bg-pearl-white">
  <h5 class="page-heading">スケジュール</h5>
  <div class="container-fluid py-3 py-sm-4 px-0 min-vh-100">
    <% if @schedules.blank? %>
      <p class="p-4 text-center text-sm text-dark">スケジュールは登録されていません</p>
    <% else %>
      <%= render 'schedules' %>
    <% end %>
  </div>
  <%= render partial: 'shared/fixed_button', locals: { path: :new_itinerary_schedule, link_text: "スケジュールを追加" } %>
</main>
