<div id="turbo-confirm-modal" class="modal fade z-index-10000" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="turbo-confirm-modal-message" class="modal-body text-sm text-dark" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm bg-gradient-light mb-1" data-bs-dismiss="modal">キャンセル</button>
        <button id="turbo-confirm-modal-confirm-button" class="btn btn-sm bg-gradient-danger mb-1">削除する</button>
      </div>
    </div>
  </div>
</div>
