<%= turbo_frame_tag "modal" do %>
  <div class="modal fade z-index-10000 pt-6 pt-sm-0" data-controller="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= title%></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pb-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
