<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible text-white fw-bold" role="alert">
    <%= notice %>
    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
