<div class="col-1 mt-n1 ms-n2 ps-0" id="user_place">
  <%= form_with url: users_places_path, model: [@placeable, @place] do |f| %>
    <%= f.hidden_field :place_id, value: @place_id %>
    <% if places_include?(@placeable, @place_id) %>
      <%= link_to [:users_place, id: @place.id], data: { turbo_method: :delete } do %>
        <i class="material-icons fs-3 text-favorite cursor-pointer">favorite</i>
      <% end %>
    <% elsif @placeable.places.count >= 300 %>
      <i class="material-symbols-outlined fs-3 text-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="お気に入り登録数が上限に達しています">heart_plus</i>
    <% else %>
      <label class="mb-0">
        <i class="material-symbols-outlined fs-3 text-secondary cursor-pointer">heart_plus</i>
        <%= f.submit class: "d-none" %>
      </label>
    <% end %>
  <% end %>
</div>
