<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3 min-vh-100">
    <input class='form-control border-0' id="searchbox_text_input" type="search" size="50" placeholder="観光名所、ホテル、レストランで検索" autocomplete="false">
    <div id="map"></div>
    <input class="d-none" id="itinerary_id" value="<%= @itinerary.id %>">
  </div>
</main>
