<div class="row mx-0 p-3 bg-white border-bottom">
  <div class="col-1 ps-0">
    <%= render 'likes/form' %>
  </div>
  <div class="col ps-4 d-flex align-items-center">
    <i class="material-icons me-1" style="padding-top:2px;">chat_bubble_outline</i><span id="comments_count" class="text-sm"><%= @post.comments_count %></span>
  </div>
</div>
<%= render 'comments/new' %>
<%= render 'comments/index' %>
