<div id="photo_carousel" class="carousel slide mb-2">
  <div class="carousel-inner">
    <% @post.photos.each_with_index do |photo, i| %>
      <%= image_tag photo.url.to_s, class: "carousel-item #{ "active" if i.zero? }" %>
    <% end %>
  </div>
  <button type="button" class="carousel-control-prev" data-bs-target="#photo_carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#photo_carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<div class="carousel slide">
  <div class="carousel-inner ps-0 grid-5-wrapper">
    <% @post.photos.each_with_index do |photo, i| %>
      <div type="button" data-bs-target="#photo_carousel" data-bs-slide-to="<%= i %>" class="<%= "active" if i.zero? %>">
        <%= image_tag photo.url.to_s, class: "w-100" %>
      </div>
    <% end %>
  </div>
</div>
