<div class="mt-n4 mx-n4 mb-4 py-4 px-4 px-sm-5 bg-white">
  <div class="mx-auto max-width-700">
    <%= form_with url: search_posts_path, class: "search-form-icon-right", html: { data: { turbo_frame: "posts" } }, method: :get do |f| %>
      <%= f.search_field :keyword %>
      <%= f.button "" %>
    <% end %>
  </div>
</div>

