<div class="mt-n4 mx-n4 mb-3 pt-4 pb-3 px-4 px-sm-5 bg-white position-sticky top-6 z-index-3">
  <div class="mx-auto max-width-700">
    <%= form_with url: search_posts_path, class: "mt-2 search-form-icon-right", html: { data: { turbo_frame: "posts" } }, method: :get do |f| %>
      <%= f.search_field :keyword, value: @keyword %>
      <%= f.button "" %>
    <% end %>
    <div class="mt-1 d-sm-flex align-items-center">
      <span class="ms-1 fs-px-13 fw-bold text-dark">人気の行き先 </span>
      <%= simple_format(link_to_hashtag("#沖縄 #北海道 #東京 #東南アジア #オーストラリア"), class:"d-flex align-items-center ms-1 ms-sm-2 text-sm") %>
    </div>
  </div>
</div>

