<%= render "layouts/modal", title: "旅の思い出を投稿" do %>
  <% if @current_users_itineraries.blank? %>
    <p>思い出を投稿できる旅のプランがありません</p>
  <% else %>
    <%= render "form", post: @post %>
  <% end %>
<% end %>
