<%= render "layouts/modal", title: "旅の思い出を投稿" do %>
  <% if @itineraries.blank? %>
    <p class="py-3 text-dark text-sm">思い出を投稿できる旅のプランがありません</p>
  <% else %>
    <%= render "form", post: @post %>
  <% end %>
<% end %>
