<% provide :title, @post.title + " - 旅の思い出" %>
<main class="main-content position-relative">
  <div class="container-fluid py-4 min-vh-100">
    <div class="mx-auto max-width-900">
      <div class="row">
        <%= link_to :back, class:"d-flex align-items-center mb-3 text-dark hover-opacity" do %>
          <i class="material-icons me-1 fs-6">arrow_back</i>
          <p class="text-sm">戻る</p>
        <% end %>
        <div class="col-lg-6 col-md-5 mx-auto max-width-500">
          <%= render 'photo_carousel' %>
        </div>
        <div class="col-lg-6 col-md-7 mt-3 mt-md-0 px-0 px-sm-2 mx-auto max-width-500">
          <%= render 'text' %>
          <% if @date_time_sorted_schedules %>
            <%= render 'schedule' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
