<%= turbo_frame_tag "destination" do %>
  <%= form_with model: [@itinerary, @destination] do |f| %>
    <%= f.hidden_field :place_id, value: @place_id %>
    <% if destinations_include?(@itinerary, @place_id) %>
      <button class="btn btn-outline-primary d-block mt-3 w-100" disabled>行きたい場所リストに追加済み</button>
    <% else %>
      <%= f.submit "行きたい場所リストに追加する", class: "btn bg-gradient-primary d-block mt-3 w-100" %>
    <% end %>
  <% end %>
<% end %>
