<%= render 'layouts/sidenav_itinerary' %>
<main class="main-content position-relative">
  <h5 class="page-heading">スポットリスト</h5>
  <div class="container-fluid py-4 px-0 min-vh-100">
    <div class="mx-auto max-width-850">
      <% if @itinerary.destinations.blank? %>
        <p class="p-4 text-center text-sm text-dark">登録されているスポットはありません</p>
      <% else %>
        <%= turbo_frame_tag "destinations", class: "row mx-0", src: itinerary_destinations_index_lazy_path(itinerary_id: @itinerary.id), loading: :lazy %>
      <% end %>
    </div>
  </div>
</main>
