<%= render @placeable.user? ? 'layouts/sidenav' : 'layouts/sidenav_itinerary' %>
<main class="main-content position-relative">
  <h5 class="page-heading"><%= @placeable.user? ? "お気に入りスポット" : "スポットリスト" %></h5>
  <div class="container-fluid py-4 px-0 min-vh-100">
    <div class="mx-auto max-width-850">
      <% if @placeable.places.blank? %>
        <p class="p-4 text-center text-sm text-dark">登録されているスポットはありません</p>
      <% elsif @placeable.user? %>
        <%= turbo_frame_tag "places", src: users_places_index_lazy_path, loading: :lazy %>
      <% else %>
        <%= turbo_frame_tag "places", src: itinerary_places_index_lazy_path(itinerary_id: @placeable.id), loading: :lazy %>
      <% end %>
    </div>
  </div>
</main>
