<%= turbo_frame_tag "places" do %>
  <% if flash[:notice] %>
    <p class="p-4 text-center text-sm text-danger"><%= notice %></p>
  <% else %>
    <%= render partial: "place_index_item", collection: @place_index_items %>
    <%= paginate @place_index_items, window: 1 %>
  <% end %>
<% end %>
