
<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <h5 class="page-heading">お気に入り</h5>
  <div class="container-fluid py-4 px-0 min-vh-100">
    <div class="mx-auto max-width-850">
      <% if @placeable.places.blank? %>
        <p class="p-4 text-center text-sm text-dark">お気に入りスポットはありません</p>
      <% else %>
        <%= turbo_frame_tag "places", class: "row mx-0", src: user_places_index_lazy_path, loading: :lazy %>
      <% end %>
    </div>
  </div>
</main>
