<%= render "shared/modal", title: "スポット情報" do %>
  <% if @error %>
    <div class="d-flex align-items-start mt-2 text-danger">
      <i class="material-symbols-outlined me-1 fs-5">error</i>
      <p class="text-sm"><%= @error %></p>
    </div>
  <% else %>
    <%= render 'photo_carousel' %>
    <%= render "details", place_details: @place_details %>
  <% end %>
<% end %>
