<footer class="footer pt-5 pb-4 px-6">
  <div class="text-center">
    <%= link_to "お問い合わせ", root_path, class: "nav-link " %>
    <p class="nav-link text-secondary">© <%= Date.current.year %> Yuko Nishimura </p>
  </div>
</footer>
