<footer class="footer pt-6 pb-4 px-6 <%= "d-none" if user_entry_page? %>" >
  <div class="text-center">
    <p class="nav-link text-secondary">© <%= Date.current.year %> Yuko Nishimura </p>
  </div>
</footer>
